<footer>
    <div class=" footer-top">
        <div class="container ">
            <div class="footer-top-left ">
                <a href="# ">About us</a> |
                <a href="# ">Terms of service</a> |
                <a href="# ">Privacy policy</a> |
                <a href="# ">Site map</a> |
                <a href="# ">Support</a> |
                <a href="# ">Help desk</a> |
                <a href="# ">Be our partner</a> |
                <a href="# ">Car listing tips</a>
            </div>
            <div class="footer-top-right ">
                <a href="# "><i class="fa-brands fa-facebook "></i></a>
                <a href="# "><i class="fa-brands fa-facebook "></i></a>
                <a href="# "><i class="fa-brands fa-facebook "></i></a>
                <a href="# "><i class="fa-brands fa-facebook "></i></a>
            </div>

        </div>
    </div>
    <div class="footer-bottom ">
        <div class="container">
            <div class="row ">
                <div class="col-3 ft-bt-1 mt-5 ">
                    <img src="images/home/logo-philkotse-white-ft.png " alt=" ">
                </div>
                <div class="col-4 ft-bt-2 mt-5">
                    <h2>MAXSPEED AUTOPORTAL INC.</h2>
                    <p><span><i class="fa-solid fa-location-dot"></i></span>19th Floor, The IBP Tower, Jade Dr, San Antonio, Pasig, Metro Manila, Philippines</p>
                    <p>
                        <span><i class="fa-solid fa-phone"></i></span>09481334353 (SMART) - 09260673939 (GLOBE)</p>
                    <p><span><i class="fa-solid fa-envelope"></i></span>support@philkotse.com</p>
                </div>
                <div class="col-5 mt-5">
                    <div class="row">
                        <div class="icon-store-phone mt-4">
                            <img src="images/home/icon-app-googleplay.png" alt="">
                            <img src="images/home/icon-app-googleplay.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="copyright text-center">
        <p>Copyright © 2017 - 2022 Philkotse.com. All rights reserved.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js " integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin=" anonymous "></script>
<script src="js/main.js ">
</script>
</body>
<script type="text/javascript " src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js "></script>


<script type="text/javascript " src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js "></script>

</html>